#result {
    display:none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#surveyInput {
    display: none;
}
#userInfo {
    width: 30%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-bottom: 30px;
}
.card-header {
    font-family: 'Cherry Swash', cursive;
    background-color:#d1b3ff;
}

h1 {
    font-family: 'Bungee', cursive;
    text-align: center;
}