#result {
    display:none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#surveyInput {
    display: none;
}

#userInfo {
    width: 50%;
    margin-top: 30px;
}
.card {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
}